*.o
*.c
*.stamp
Makefile
Makefile.in
missing
tagle-config.h*
.DS_Store
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
*/.deps/
src/tagle
tests/tagle-id3-test
stamp-h1
INSTALL
